.App {
    min-height: calc(100vh - 16px);
    min-width: calc(100vw - 16px);    
    background: lightgrey;
    padding: 8px;
    display: inline-flex;
    flex-direction: column;
}

.App-list {
    display: flex;
    flex-direction: inherit;
}