.App {
    min-height: calc(100vh - 16px);
    min-width: calc(100vw - 16px);    
    background: lightgrey;
    padding: 8px;
    display: inline-flex;
    flex-direction: column;
}

.App-header h1 {
    margin: 0;
    font-size: 20px;
    padding: 0 14px 10px 0;
}

.App-list {
    display: flex;
    flex-direction: inherit;
}